
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/@culture">NMN FoodShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a asp-route-culture="@culture" localize-content class="nav-link" asp-controller="Home" asp-action="Index" >Home</a></li>
                <li class="nav-item active"><a asp-route-culture="@culture" localize-content asp-controller="Product" asp-action="NewProduct" class="nav-link">Category</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item cta cta-colored"><a href="/@culture/Cart" class="nav-link"><span class="icon-shopping_cart"  id="lbl_number_of_items">0</span> </a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.Name</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="">Change Infomation</a>
                            <a class="dropdown-item" href="">Support</a>
                            <form class="dropdown-item" action="/@culture/User/Logout" method="post">
                                <button type="submit">
                                    <a>Logout</a>
                                </button>
                            </form>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a href="/@culture/User/Login" class="nav-link">Login</a></li>
                }

            </ul>
        </div>
    </div>
</nav>