@model FoodShopModel.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="slim-mainpanel">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NameVN" class="control-label"></label>
                        <input asp-for="NameVN" class="form-control" />
                        <span asp-validation-for="NameVN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NameEN" class="control-label"></label>
                        <input asp-for="NameEN" class="form-control" />
                        <span asp-validation-for="NameEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OriginalPrice" class="control-label"></label>
                        <input asp-for="OriginalPrice" type="number" class="form-control" />
                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stock" class="control-label"></label>
                        <input asp-for="Stock" type="number" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DescriptionVN" class="control-label"></label>
                        <textarea asp-for="DescriptionVN" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionVN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DescriptionEN" class="control-label"></label>
                        <textarea asp-for="DescriptionEN" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="DescriptionEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DetailsVN" class="control-label"></label>
                        <textarea asp-for="DetailsVN" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="DetailsVN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DetailsEN" class="control-label"></label>
                        <textarea asp-for="DetailsEN" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="DetailsEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescriptionVN" class="control-label"></label>
                        <input asp-for="SeoDescriptionVN" class="form-control" />
                        <span asp-validation-for="SeoDescriptionVN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescriptionEN" class="control-label"></label>
                        <input asp-for="SeoDescriptionEN" class="form-control" />
                        <span asp-validation-for="SeoDescriptionEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoTitleVN" class="control-label"></label>
                        <input asp-for="SeoTitleVN" class="form-control" />
                        <span asp-validation-for="SeoTitleVN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoTitleEN" class="control-label"></label>
                        <input asp-for="SeoTitleEN" class="form-control" />
                        <span asp-validation-for="SeoTitleEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoAliasVN" class="control-label"></label>
                        <input asp-for="SeoAliasVN" class="form-control" />
                        <span asp-validation-for="SeoAliasVN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoAliasVN" class="control-label"></label>
                        <input asp-for="SeoAliasVN" class="form-control" />
                        <span asp-validation-for="SeoAliasEN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label"></label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

